{% extends 'base.html' %}
{% block content %}

<h2>{{ module.title or module.name }}</h2>
{% if module.frontend and module.frontend.docs %}
<p><a href="/modules/{{ module.name }}/docs">Module documentation</a></p>
{% endif %}

{% for style_url in style_urls %}
<link rel="stylesheet" href="{{ style_url }}">
{% endfor %}

<div id="{{ mount_id }}"></div>

<script id="{{ props_id }}" type="application/json">
{{ props|tojson }}
</script>
{% if script_url %}
<script type="module" src="{{ script_url }}"></script>
{% endif %}

{% endblock %}
